<div class="row">
    <div [ngClass]="isSidePaneVisible ? 'col-8':'col-12'">
        <div class="card">
            <div class="card-header bg-warning-subtle">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-success btn-sm" (click)="toggleSidePanel()">New</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePaneVisible">
        <div class="card">
            <div class="card-header bg-warning-subtle">
                <div class="row">
                    <div class="col-6">
                        New Product
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-success btn-sm" (click)="toggleSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">SKU</label>
                        <input type="text" [(ngModel)]="productObject.ProductSku" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Name</label>
                        <input type="text" [(ngModel)]="productObject.ProductName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text" [(ngModel)]="productObject.ProductShortName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Price</label>
                        <input type="text" [(ngModel)]="productObject.ProductPrice" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label for="">Category</label>
                        <select [(ngModel)]="productObject.categoryId" class="form-select">
                            <option *ngFor="let cate of categoryList" [value]="cate.categoryId">{{cate.categoryName}}</option>
                        </select>
                        <!-- <input type="text" [(ngModel)]="productObject.CategoryId" class="form-control"> -->
                    </div>
                    <div class="col-6">
                        <label for="">Delivery Time Span</label>
                        <input type="text" [(ngModel)]="productObject.DeliveryTimeSpan" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Image Url</label>
                        <input type="text" [(ngModel)]="productObject.ProductImageUrl" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Product Description</label>
                        <input type="text" [(ngModel)]="productObject.ProductDescription" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

