<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p class="display-5">Login</p>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="login.username" id="login" class="fadeIn second" name="login" placeholder="login">
      <input type="password" [(ngModel)]="login.password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="button" (click)="onLogin()" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>